<div class="container mt-4">
    <h2>Task List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>
            <button class="btn btn-primary" (click)="editTask(task)">Editar</button>
            <button class="btn btn-danger" (click)="deleteTask(task.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  