<div class="container mt-4">
  <h2>Task List</h2>
  <form *ngIf="selectedTask">
    <div class="form-group">
      <label for="name">Title:</label>
      <input type="text" class="form-control" id="title" name="name" [(ngModel)]="selectedTask.title">
      <label for="status">Status:</label>
      <select class="form-control" id="status" name="status" [(ngModel)]="selectedTask.status">
        <option value="PENDING">Pending</option>
        <option value="COMPLETED">Completed</option>
      </select>
    </div>
    <button class="btn btn-primary mt-3" (click)="saveTask(selectedTask.title, selectedTask.status, selectedTask.id)">Salvar</button>
    <button class="btn btn-danger mt-3" (click)="cancelEdit()">Cancelar</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.status }}</td>
        <td>
          <button class="btn btn-primary" (click)="editTask(task)">Edit</button>
          <button class="btn btn-danger mr-3" (click)="deleteTask(task.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
